/*
 * SPDX-FileCopyrightText: 2025 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.clue-list-cell {
    /* Use computed size instead of default 24px. Somehow not required when using Modena CSS, but
     * definitely necessary when using AtlantaFx CSS. */
    -fx-cell-size: -1;
}

.container-hbox {
    -fx-alignment: center-left;
    -fx-spacing: 4px;
}

.index-label {
    -fx-pref-width: 35px;
    -fx-font-weight: bold;
}

.clue-text-area {
    -fx-pref-column-count: 7;
    -fx-wrap-text: true;
}

.clue-text-area > .scroll-pane {
    /* Text area auto-resizes its height so vertical bar should not appear. In practice, it appears
     * transiently, between resizes. Set the policy to none to prevent that. */
    -fx-vbar-policy: never;
}

.fill-button-icon {
    -fx-icon-code: "mdi2m-magic-staff";
}
