/*
 * SPDX-FileCopyrightText: 2025 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.ikonli-font-icon {
    -fx-icon-size: 24px;
}

#show-puzzle-button-icon {
    -fx-icon-code: "mdi2d-dock-left";
}

#resize-grid-button-icon {
    -fx-icon-code: "mdi2t-table-edit";
}

#add-row-button-icon {
    -fx-icon-code: "mdi2t-table-row-plus-after";
}

#delete-row-button-icon {
    -fx-icon-code: "mdi2t-table-row-remove";
}

#add-column-button-icon {
    -fx-icon-code: "mdi2t-table-column-plus-after";
}

#delete-column-button-icon {
    -fx-icon-code: "mdi2t-table-column-remove";
}

#delete-grid-button-icon {
    -fx-icon-code: "mdi2t-table-remove";
}

#clear-grid-menu-button-icon {
    -fx-icon-code: "mdi2f-format-strikethrough-variant";
}

#save-button-icon {
    -fx-icon-code: "mdi2c-content-save-outline";
}

#show-dictionaries-button-icon {
    -fx-icon-code: "mdi2d-dock-right";
}
