/*
 * SPDX-FileCopyrightText: 2025 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
#show-puzzle-button-image-view {
    -fx-image: url("icon/lc_fillright.png");
}

@media (prefers-color-scheme: dark) {
    #show-puzzle-button-image-view {
        -fx-image: url("icon/dark/lc_fillright.png");
    }
}

#resize-grid-button-image-view {
    -fx-image: url("icon/lc_tabledesign.png");
}

@media (prefers-color-scheme: dark) {
    #resize-grid-button-image-view {
        -fx-image: url("icon/dark/lc_tabledesign.png");
    }
}

#add-row-button-image-view {
    -fx-image: url("icon/lc_insertrowsafter.png");
}

@media (prefers-color-scheme: dark) {
    #add-row-button-image-view {
        -fx-image: url("icon/dark/lc_insertrowsafter.png");
    }
}

#delete-row-button-image-view {
    -fx-image: url("icon/lc_deleterows.png");
}

@media (prefers-color-scheme: dark) {
    #delete-row-button-image-view {
        -fx-image: url("icon/dark/lc_deleterows.png");
    }
}

#add-column-button-image-view {
    -fx-image: url("icon/lc_insertcolumnsafter.png");
}

@media (prefers-color-scheme: dark) {
    #add-column-button-image-view {
        -fx-image: url("icon/dark/lc_insertcolumnsafter.png");
    }
}

#delete-column-button-image-view {
    -fx-image: url("icon/lc_deletecolumns.png");
}

@media (prefers-color-scheme: dark) {
    #delete-column-button-image-view {
        -fx-image: url("icon/dark/lc_deletecolumns.png");
    }
}

#delete-grid-button-image-view {
    -fx-image: url("icon/lc_deletetable.png");
}

@media (prefers-color-scheme: dark) {
    #delete-grid-button-image-view {
        -fx-image: url("icon/dark/lc_deletetable.png");
    }
}

#clear-grid-menu-button-image-view {
    -fx-image: url("icon/lc_strikeout.png");
}

@media (prefers-color-scheme: dark) {
    #clear-grid-menu-button-image-view {
        -fx-image: url("icon/dark/lc_strikeout.png");
    }
}

#save-button-image-view {
    -fx-image: url("icon/lc_save.png");
}

@media (prefers-color-scheme: dark) {
    #save-button-image-view {
        -fx-image: url("icon/dark/lc_save.png");
    }
}

#show-dictionaries-button-image-view {
    -fx-image: url("icon/lc_fillleft.png");
}

@media (prefers-color-scheme: dark) {
    #show-dictionaries-button-image-view {
        -fx-image: url("icon/dark/lc_fillleft.png");
    }
}
