/*
 * SPDX-FileCopyrightText: 2025 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#puzzle-actions-hbox {
    -fx-spacing: 10px;
}

#puzzle-placeholder-vbox {
    -fx-spacing: 10px;
}

#puzzle-placeholder-icon {
    -fx-icon-code: "mdi2f-folder-search-outline";
    -fx-icon-size: 96px;
}

#puzzle-placeholder-text {
    -fx-font-size: 1.2em;
}
