# SPDX-FileCopyrightText: 2023 Antoine Belvire
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "crosswords-dictionary/crosswords-dictionary-data/libreoffice-dictionaries"]
	path = croiseur-dictionary/croiseur-dictionary-hunspell-data/libreoffice-dictionaries
	url = git://anongit.freedesktop.org/libreoffice/dictionaries
