# SPDX-FileCopyrightText: 2023 Antoine Belvire
# SPDX-License-Identifier: GPL-3.0-or-later

# IntelliJ stuff
out
.idea
**.iml

# Gradle stuff
.gradle
**/build/*

# Use "gradle wrapper --build-file=wrapper.gradle" to generate a compatible wrapper in your local tree
# if you'd like but please don't add it to SCM, thanks.
gradle/wrapper
gradlew*
