/* A cell of the crossword grid; Extends text-field. */
.crossword-box-text {
    /* Centered serif text. */
    -fx-alignment: center;
    -fx-font-family: serif;

    /* In a beautiful square. */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1px;

    /* Taking all the space. */
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;

    /* With black-ish focus color. */
    -fx-faint-focus-color: #00000022;
}

/* A shaded cell. */
.crossword-box-text:shaded {
    -fx-background-color: black;
}

/* An unsolvable cell. */
.crossword-box-text:unsolvable {
    -fx-background-color: #ff000011;
}

/* The grid. */
#crossword-grid {
    -fx-border-radius: 0;
    -fx-border-style: solid inside;
    -fx-border-width: 2px;
}