/*
 * SPDX-FileCopyrightText: 2023 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#resize-grid-button-image-view {
    -fx-image: url("lc_tabledesign.png");
}

#add-row-button-image-view {
    -fx-image: url("lc_insertrowsafter.png");
}

#delete-row-button-image-view {
    -fx-image: url("lc_deleterows.png");
}

#add-column-button-image-view {
    -fx-image: url("lc_insertcolumnsafter.png");
}

#delete-column-button-image-view {
    -fx-image: url("lc_deletecolumns.png");
}

#delete-grid-button-image-view {
    -fx-image: url("lc_deletetable.png");
}

#clear-grid-menu-button-image-view {
    -fx-image: url("lc_strikeout.png");
}

#solve-button-image-view {
    -fx-image: url("lc_runmacro.png");
}

#show-dictionaries-button-image-view {
    -fx-image: url("lc_leftpanedraw.png");
}