/*
 * SPDX-FileCopyrightText: 2023 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.split-pane > .split-pane-divider {
    /* Hide the decoration, make it look like a non-resizable border. */
    -fx-opacity: 0;
    -fx-padding: 0;
}

.progress-indicator {
    /* Progress indicator is a bit small by default. AtlantaFx size classes don't seem to apply
     * for progress indicator, so enlarge it manually. */
    -fx-min-height: 120px;
    -fx-min-width: 120px;
}

.progress-indicator > .determinate-indicator > .percentage {
    /* Same rationale as for .progress-indicator, too small by default. */
    -fx-font-size: 1.5em;
}

.scroll-pane {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

#grid-enclosing-zone {
    -fx-padding: 20px;
    -fx-pref-width: 500px;
    -fx-pref-height: 500px;
}

#clues-pane {
    -fx-padding: 20px;
}