/*
 * SPDX-FileCopyrightText: 2023 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* A cell of the crossword grid; Extends text-field. */
.crossword-box-text {
    /* Centered serif text. */
    -fx-alignment: center;
    -fx-font-family: serif;

    /* In a beautiful square. */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: -color-fg-default;
    -fx-border-width: 1px;

    /* Taking all the space. */
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

/* A selected cell. */
.crossword-box-text:selected {
    -fx-background-color: -color-accent-subtle;
}

/* A focused cell. */
.crossword-box-text:focused {
    -fx-border-width: 3px;
}

/* A shaded cell. */
.crossword-box-text:shaded {
    -fx-background-color: -color-fg-default;
}

.crossword-box-text:shaded:focused {
    /* Because don't see that a shaded cell is focused if content has same color as border. */
    -fx-border-color: -color-bg-default;
}

/* An unsolvable cell - takes precedence over selected states. */
.crossword-box-text:unsolvable, .crossword-box-text:selected:unsolvable {
    -fx-background-color: -color-danger-muted;
}

/* The grid. */
#crossword-grid {
    -fx-border-color: -color-fg-default;
    -fx-border-radius: 0;
    -fx-border-style: solid inside;
    -fx-border-width: 2px;
}