/*
 * SPDX-FileCopyrightText: 2023 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.titled-pane > .title {
    /* Use subtle background color to be consistent with toolbar. */
    -fx-background-color: -color-bg-subtle;

    -fx-border-color: -color-border-default;
    /* Straight border. */
    -fx-border-radius: 0;
    /* Only top and left borders, No border between title and content, and nothing on the right. */
    -fx-border-width: 1px 0px 0px 1px;
}

.first-titled-pane > .title {
    /* Blend top border with top pane. */
    -fx-border-width: 0px 0px 0px 1px;
}

.titled-pane > .content {
    /* Make sure list views are not half bg-default, half-bg-subtle. */
    -fx-background-color: -color-bg-subtle;

    /* Straight border. */
    -fx-border-radius: 0;
    /* Only left border; Blend bottom border with bottom pane. */
    -fx-border-width: 0px 0px 0px 1px;
}

.titled-pane.dense > .content {
    /* Denser padding (5px on top instead of 10). */
    -fx-padding: 5px 10px 10px 10px;
}

.list-view {
    /* Make sure list view is not half bg-subtle, half bg-default. */
    -fx-background-color: -color-bg-default;
}

#words-vbox {
    /* Separate word search box from word list. */
    -fx-spacing: 10px;
}

#dictionary-placeholder-vbox {
    -fx-spacing: 10px;
}

#dictionary-placeholder-image-view {
    /* Placeholder when dictionary is not present, an image-view. */
    -fx-image: url("icon/system-search-symbolic.png");
}
