/*
 * SPDX-FileCopyrightText: 2023 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.spaced-hvbox {
    -fx-spacing: 10px;
}

.puzzle-details-vbox {
    -fx-alignment: center-left;
}

.puzzle-details-key-text {
    -fx-font-style: italic;
}

.puzzle-title {
    -fx-font-size: 1.2em;
}