/*
 * SPDX-FileCopyrightText: 2023 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.list-cell {
    /* Use computed size instead of default 24px. */
    -fx-cell-size: -1;
    -fx-padding: 0;
    -fx-border-insets: 10px;
}

.card-container-hbox {
    -fx-spacing: 10px;
}

.action-button-vbox {
    -fx-alignment: center;
    -fx-spacing: 10px;
    /* Use the left border as a separator with the content. */
    -fx-border-width: 0 0 0 1px;
    -fx-padding: 0 0 0 10px;
}

.list-cell:selected > .card-container-hbox > .action-button-vbox {
    /* Border between content and buttons appears when list cell is selected. */
    -fx-border-color: -color-border-default;
}

.button {
    -fx-max-width: Infinity;
    visibility: hidden;
}

.list-cell:selected > .card-container-hbox > .action-button-vbox > .button {
    /* Buttons appear when list cell is selected. */
    visibility: visible;
}
