/*
 * SPDX-FileCopyrightText: 2023 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#welcome-vbox {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 20px 20px 20px 20px
}

#welcome-image-view {
    -fx-image: url("icon/application-icon.png");
}

#welcome-text {
    -fx-font-size: 2em;
}

#puzzles-vbox {
    -fx-alignment: center;
    -fx-max-height: 300px;
    -fx-max-width: 500px;
    -fx-spacing: 10px;
    -fx-padding: 0 20px 20px 20px;
}

#puzzle-actions-hbox {
    -fx-spacing: 10px;
}

