/*
 * SPDX-FileCopyrightText: 2023 Antoine Belvire
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#welcome-vbox {
    -fx-alignment: center;
    -fx-padding: 40px 40px 40px 40px;
    -fx-spacing: 10px;
}

#welcome-image-view {
    -fx-image: url("application-icon.png");
}

#welcome-text {
    -fx-font-size: 2em;
}

#puzzles-vbox {
    -fx-alignment: top-center;
    -fx-min-height: 150px;
    -fx-max-height: 320px;
    -fx-padding: 0 40px 40px 40px;
    -fx-spacing: 15px;
}

#puzzles-vbox > * {
    -fx-max-width: 500px;
}